<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/music">Music</a></li>
    <li class="breadcrumb-item active" aria-current="page">Search</li>
  </ol>
</nav>

<div class="row">
  <div class="col-md-12 pb-4 mb-2 border-bottom">
    {{> search/filters query=query}}
  </div>
</div>
  
<div class="row">
  <div class="col-md-12">
    {{#if search}}
      {{> search/album.results results=albums showAllLink=showAllLink.albums showHeader=true}}
      {{> search/track.results results=tracks showAllLink=showAllLink.tracks}}
      {{> search/artist.results results=artists showAllLink=showAllLink.artists}}
      {{> search/document.results results=documents showAllLink=showAllLink.documents}}
    {{else}}
      <p class="lead">Search by word or phrase and/or filter by type</p>
    {{/if}}
  </div>
</div>
