<h1>CHIRP</h1>

{{#each errorMessages}}
  <div class="alert alert-danger">
    {{this}}
  </div>
{{/each}}

<form action="/auth/login" method="post">
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" name="email" id="email">
  </div>
  <div class="form-group">
    <label>Password</label>
    <input id="password" type="password" class="form-control" name="password"/>
  </div>
  <input type="submit" class="btn btn-primary" value="Submit"/>
</form>
