<form class="col-md-12 border border-primary p-3 mb-3 form-inline" action="/music/search" method="get">
  <div class="form-group flex-grow-1 pr-3">
    <label class="sr-only" for="search">Search</label>
    <input class="form-control flex-grow-1" id="search" name="term" type="search" placeholder="search the entire music library by album, track, or artist name (or words in a review)" aria-label="search">
  </div>
  <button class="btn btn-primary" type="submit">Search</button>
  <span class="mx-2">or</span>
  <a href="/music/search" class="btn btn-outline-primary">Randomize</a>
</form>

<h1>Heavy Rotation <a href="/music/tag/heavy_rotation"><small>see all</small></a></h1>
{{> music/albumlist albums=heavy_rotation}}

<h1 class="mt-4">Light Rotation <a href="/music/tag/light_rotation"><small>see all</small></a></h1>
{{> music/albumlist albums=light_rotation}}

<h1 class="mt-4">More Recently Added <a href="/music/recent"><small>see all</small></a></h1>
{{> music/albumlist albums=recent}}