<form id="filters" class="form-inline" action="/music/search" method="get"> 
    <div class="form-group flex-fill mr-2">
      <label class="sr-only" for="search">Search</label>
      <input class="form-control w-100" id="search" name="term" type="search" placeholder="search by album, track, or artist name (or words in a review)" value="{{query.term}}" aria-label="search">
    </div>
    <div class="form-group mr-2">
      <button class="btn btn-primary" type="submit">Search Everything</button>
    </div>
    <div class="form-group">      
      <div class="dropdown">
        <button class="btn btn-link dropdown-toggle" type="button" id="searchByTypeButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Search by Type
        </button>
        <div class="dropdown-menu" aria-labelledby="searchByType">
          <a class="dropdown-item" href="/music/search/album">Album</a>
          <a class="dropdown-item" href="/music/search/track">Track</a>
        </div>
      </div>
    </div>
</form>

<script>
  const form = document.getElementById('filters');
  form.addEventListener('submit', function(event) {
    event.preventDefault();
    gtag('event', 'Search', {
      'event_category': 'Music', 
      'event_label': 'Search Everything',
      'event_callback': function() {
        form.submit();
      }
    });
  });
</script>