name: Deploy to Production

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version name or number'
        required: true
        default: 'production'

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - id: checkout
      uses: actions/checkout@v2
      with:
        ref: master
    - id: setup-env-variables
      uses: bluwy/substitute-string-action@v1
      with:
        _input-file: ./app/env_variables.yaml
        _output-file: ./app/env_variables.yaml
        _format-key: '%%key%%'
        JWT_SECRET: ${{ secrets.JWT_SECRET }}
        SESSION_SECRET: ${{ secrets.SESSION_SECRET }}
        SESSION_LENGTH: ${{ secrets.SESSION_LENGTH }}
        ELASTICSEARCH_DOMAIN: ${{ secrets.ELASTICSEARCH_DOMAIN }}
        ELASTICSEARCH_USERNAME: ${{ secrets.ELASTICSEARCH_USERNAME }}
        ELASTICSEARCH_PASSWORD: ${{ secrets.ELASTICSEARCH_PASSWORD }}
        DATASTORE_PROJECT_ID: ${{ secrets.DATASTORE_PROJECT_ID }}
        LASTFM_API_KEY: ${{ secrets.LASTFM_API_KEY }}
    - id: api-docs
      uses: seeebiii/redoc-cli-github-action@v10
      with:
        args: 'bundle ./app/routes/api/specification.yml'
    - id: install-client
      working-directory: ./client
      run: npm ci
    - id: build-client
      working-directory: ./client
      run: npm run build
    - id: deploy
      uses: GoogleCloudPlatform/github-actions/appengine-deploy@master
      with:
        credentials: ${{ secrets.gcp_credentials }}
        deliverables: ./app/app.yaml
        version: ${{ github.event.inputs.version }}
        promote: true
