name: Deploy to Staging

on:
  push:
    branches: [ develop ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
    - id: checkout
      uses: actions/checkout@v3
      with:
        ref: develop
    - id: auth
      uses: google-github-actions/auth@v1
      with:
        workload_identity_provider: projects/292714882487/locations/global/workloadIdentityPools/integrations/providers/github-provider
        service_account: github@chirpradio-hrd.iam.gserviceaccount.com   
    - id: setup-env-variables
      uses: bluwy/substitute-string-action@v2
      with:
        _input-file: ./app/env_variables.yaml
        _output-file: ./app/env_variables.yaml
        _format-key: '%%key%%'
        JWT_SECRET: ${{ secrets.JWT_SECRET }}
        SESSION_SECRET: ${{ secrets.SESSION_SECRET }}
        SESSION_LENGTH: ${{ secrets.SESSION_LENGTH }}
        ELASTICSEARCH_DOMAIN: ${{ secrets.ELASTICSEARCH_DOMAIN }}
        ELASTICSEARCH_USERNAME: ${{ secrets.ELASTICSEARCH_USERNAME }}
        ELASTICSEARCH_PASSWORD: ${{ secrets.ELASTICSEARCH_PASSWORD }}
        DATASTORE_PROJECT_ID: ${{ secrets.DATASTORE_PROJECT_ID }}
        LASTFM_API_KEY: ${{ secrets.LASTFM_API_KEY }}
    - id: api-docs
      uses: seeebiii/redoc-cli-github-action@v10
      with:
        args: 'bundle ./app/routes/api/specification.yaml -o ./app/routes/api/redoc-static.html'    
    - id: install-client
      working-directory: ./client
      run: npm ci
    - id: build-client
      working-directory: ./client
      run: npm run build
    - id: deploy
      uses: google-github-actions/deploy-appengine@v1
      with:
        deliverables: ./app/app.yaml
        version: staging
        promote: false
