// Customize defaults
$primary: #822036;


// Required
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/maps";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";

@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/containers";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar"; // Requires nav
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/breadcrumb";
@import "~bootstrap/scss/badge";
@import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/close";
@import "~bootstrap/scss/modal"; // Requires transitions
@import "~bootstrap/scss/alert";
@import "~bootstrap/scss/offcanvas"; // Requires transitions

// @import "~bootstrap/scss/progress";
// @import "~bootstrap/scss/toasts";
// @import "~bootstrap/scss/accordion";
// @import "~bootstrap/scss/pagination";
// @import "~bootstrap/scss/tooltip";
// @import "~bootstrap/scss/popover";
// @import "~bootstrap/scss/carousel";
// @import "~bootstrap/scss/spinners";
// @import "~bootstrap/scss/placeholders";

@import "~bootstrap/scss/helpers/ratio";
@import "~bootstrap/scss/helpers/visually-hidden";
@import "~bootstrap/scss/helpers";

// Utilities
$utilities: map-merge(
  $utilities,
  (
    "width": map-merge(
      map-get($utilities, "width"),
      (
        values: map-merge(
          map-get(map-get($utilities, "width"), "values"),
          (15: 15%),
        ),
      ),
    ),
  )
);

$utilities: map-merge(
  $utilities, (
    "font-size": map-merge(
      map-get($utilities, "font-size"),
      ( responsive: true ),
    ),
  )
);

@import "~bootstrap/scss/utilities/api";


//
// Custom styles
:root {
  --dark-red: #822036;
  --bright-red: #ee0032;
}

body,
.font-serif {
  font-family: Georgia, "Times New Roman", Times, serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
select,
label,
legend,
th,
.btn,
.navbar,
.nav,
.badge,
.breadcrumb,
.pagination,
.font-sans {
  font-family: Futura, "Trebuchet MS", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}

a {
  color: var(--dark-red);
  text-decoration: none;
}

a:hover {
  color: var(--bright-red);
  text-decoration: underline;
}

a.btn-chirp-red,
button.btn-chirp-red {
  background-color: var(--dark-red);
  border-color: var(--dark-red);
  color: #fff;
}

a.btn-chirp-red:hover,
button.btn-chirp-red:hover {
  background-color: var(--bright-red);
  color: #fff;
}

button.btn-link-chirp-red,
button.btn-outline-chirp-red,
a.btn-link-chirp-red {
  color: var(--dark-red);
}

button.btn-link-chirp-red:hover,
button.btn-outline-chirp-red:hover,
a.btn-link-chirp-red:hover {
  color: var(--bright-red);
}

button.btn-outline-chirp-red {
  border-color: var(--dark-red);
}

button.btn-outline-chirp-red:hover {
  border-color: var(--bright-red);
}

.text-chirp-red {
  color: var(--dark-red);
}

.text-chirp-red-hover:hover {
  color: var(--bright-red);
}

.form-check-input:checked {
  background-color: var(--bright-red);
  border-color: var(--bright-red);
}

.no-overflow {
  text-overflow: clip;
}

.search-result__col {
  text-overflow: ellipsis;
  overflow: hidden;
}

.numeral {
  font-family: "Times New Roman", Times, serif;
}

.drawer {
  width: 90% !important;
}

@media (min-width: 768px) {
  .drawer {
    width: 750px !important;
  }
}